body
<style>
body {
  font-family: Verdana, Helvetica, sans-serif;
}

*{
	box-sizing: border-box;
}

.hide{
	display: none;
}

.hidden:hover + .hide {
  	display: block;
  	color: red;
}

.column{

	float:left;
	width: 50%;
	padding: 4px;
}

.column1{

	float:center;
	width: 100%;
	padding: 4px;
}


.row::after{
	content: "";
	display:table;
	clear: both;
}

.row1::after{
	content: "";
	display:table;
	clear: both;
}

h1
   {
   font-family: Lucida Sans;
   font-size: 50px;
   color: rgb(204,153,102);
   }

h2
   {
   font-family: Lucida Sans;
   font-size: 25px;
   color: black;
   text-align: justify;
   }

h3
   {
   font-family: Lucida Sans;
   font-size: 15px;
   color: black;
   text-align: left;
   }

p1
   {
   font-family: Lucida Sans;
   font-size: 50px;
   color: rgb(204,153,102);
   }

p2
   {
   font-family: Verdana;
   font-size: 40px;
   color: rgb(35,15,8);
   }

p3
   {
   font-family: Verdana;
   font-size: 40px;
   color:pink;
   }

span{
background-color: rgba(255, 255, 255,0.6);
}

span1{
background-color: rgba(255,228,196,0.8);
}

.container 
   {
   position: relative;
   width: 30%;
   }

.image 
   {
    width: 115%;
    height: auto;

   }
  
.overlay 
   {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(90,44,10);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
   }
  
   
.container:hover .overlay 
   {
    transform: scale(1);
   }

.text 
   {
    color: pink;
    font-family: Lucida Sans;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px;
   }



	ul{
		display: flex;
		justify-content: right;
		font-size: 20px;
		position: fixed;
	}
	li{
		list-style: none;
		margin-left: 60px;
	}
	li a{
		text-decoration: none;
		color: rgb(204,153,102);
		font-family: arial;
		text-transform: uppercase;
	}
	li a::after{
		content: '';
		width: 0;
		height: 3px;
		background-color: coral;
		margin: auto;
		display: block;
	}
	li a:hover::after{
		width: 100%;
		transition: width 0.3s linear;
		margin-top: 8px;
	}
	li a:hover{
		color: coral;
	}


html {
  scroll-behavior: smooth;
}

#section1 {
	background: url("https://i.pinimg.com/564x/d5/b8/68/d5b8684e917bde981c48a67cd86e7dfa.jpg");
  	height: 800px;
  	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;

}

#section2 {
  	background: url("https://i.pinimg.com/564x/8d/91/b4/8d91b4a8350cfe04863ca69d3210d6e6.jpg");
  	height: 800px;
  	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;

}

#section3 {
  	background: url("https://i.pinimg.com/564x/7c/b7/97/7cb79703e121cf2e0c2c9bf09caac7f6.jpg");
  	height: 800px;
  	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	

}

#section4 {
  	background: url("https://i.pinimg.com/564x/07/c9/42/07c9420c70f397532ae6147de4cbbb5b.jpg");
  	height: 800px;
  	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;

}
 
#content {
	display: flex;
	align-item: center;
	justify-content: center;
	height: 20vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

#content2 {
	
	padding: 10px;
	height: 20vh;
	background-color: rgba(0, 0, 0, 0.8);
}

img {
  border: 10px solid black;
}

</style>